*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.container {
    display: flex;
}

.lateral-menu {
    background: #000;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding: 20px 0;

    font-size: 16px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lateral-menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.lateral-menu ul li img {
    margin-bottom: 10px;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings svg {
    margin-right: 10px;
}

.content {
    background: #f5f6fa;
    width: 100%;
}

.card {
    background: #fff;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin: 0 20px;
    height: 132px;    
}

.card-small{
    width: 240px;
    display: flex;
    align-items: center;
}

.card-large{
    width: 400px;
}

.card .card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}

.card .card-container {
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.cards-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.card-info h2 {
    font-size: 54px;
    font-weight: bold;
    color: #ffba33;
}

.card-info p {
    font-size: 16px;
}

.card-large .card-container .card-content:nth-child(2){
    border-left: 1px solid #111;
}

.table {
    background: #ffffff;
    width: 642px;
    height: 400px;
    padding: 30px;
    margin: 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 16px;    

    text-align: left;    
}

.table h5 {
    font-size: 18px;
    font-weight: bold;
}

.table table th {
    border-bottom: 1px solid #5e5e5e;
    padding: 10px 0;
}

.table table td {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0;
}

.table table {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.chart {
    display: flex;
    align-items: center;
    background: #ffffff;
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 16px;     
}

.navbar {
    display: none;
}

@media screen and (max-width: 600px) {
    
    .lateral-menu {
        display: none;
    }

    .table {
        width: 90%;
        height: 100%;
        margin: 10px;
    }

    .card-small {
        margin: 10px;
    }

    .content-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .navbar {
        background-color: #000;
        color: #ffba33;
        height: 50px;
        display: block;       
    }

    .navbar ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .mobile {
        height: 100%;
    }

    .mobile img {
        width: 15%;
    }

    .mobile li {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    }

}